.nav-main-cont {
    height: 100px;
}


.logo-name {
    font-size: 40px !important;
    font-weight: 550;
    font-family: cursive;
    font-style: normal;
    padding-left: 5px;
}

.bars {
    font-size: 20px !important;
    font-weight: 600 !important;
    color: #000 !important;
    padding-right: 50px !important;
}

.container-parent {
    position: relative;

}


.count-nav {
    margin-left: 5px;
    padding: 5px 10px;
    color: blue;
    background-color: rgb(214, 214, 216);
    border-radius: 30px;
}